<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <h1>A_You've made it to the Dashboard!</h1>
    <h2>Upload Image</h2>
<form action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data">
    <label for="image_title">Image Title:</label>
    <input type="text" id="image_title" name="image_title">
    <input type="file" name="file">
    <input type="submit" value="Upload">
</form>

    <a href="{{ url_for('logout') }}">Logout</a>

</body>
</html>
