<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eugene the Dood's Gallery</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>

<body>
    <h1>AAWelcome to Eugene the Dood's Gallery!</h1>
    <p>Images will be displayed here soon.</p>
    <h2>Gallery</h2>
<div>
    {% for image_url in image_urls %}
        <img src="{{ image_url }}" alt="Uploaded Image" width="200">
    {% endfor %}
</div>

    <a href="{{ url_for('admin_login') }}">Admin Login</a>

</body>
</html>
